<?xml version="1.0" ?>
<robot name="testbed_2WD" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find testbed_2WD_description)/urdf/materials.xacro" />
<xacro:include filename="$(find testbed_2WD_description)/urdf/testbed_2WD.trans" />
<xacro:include filename="$(find testbed_2WD_description)/urdf/testbed_2WD.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.1653458126665766 0.17265215544978285 -0.025705650545054838" rpy="0 0 0"/>
    <mass value="2.2357349484143354"/>
    <inertia ixx="0.022644" iyy="0.022857" izz="0.045499" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m5_20mm_2_1">
  <inertial>
    <origin xyz="-1.8733318512664104e-07 1.5544978265724652e-07 0.010500349454945247" rpy="0 0 0"/>
    <mass value="0.003910660159751433"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.005346 -0.332652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.005346 -0.332652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m5_20mm_4_1">
  <inertial>
    <origin xyz="-1.8733318513357994e-07 1.5544978544321242e-07 0.010500349454945122" rpy="0 0 0"/>
    <mass value="0.003910660159751499"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.005346 -0.012652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.005346 -0.012652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m5_20mm_3_1">
  <inertial>
    <origin xyz="-1.873331966772973e-07 1.554497852801484e-07 0.010500349454945032" rpy="0 0 0"/>
    <mass value="0.0039106601597516605"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.325346 -0.012652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.325346 -0.012652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m5_20mm_1_1">
  <inertial>
    <origin xyz="-1.8733319462338471e-07 1.55449780270267e-07 0.010500349454945128" rpy="0 0 0"/>
    <mass value="0.003910660159751418"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.325346 -0.332652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.325346 -0.332652 0.024456" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m5_20mm_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="plate_b_1">
  <inertial>
    <origin xyz="0.16934363064888508 -0.16053203149598946 0.029455349454945202" rpy="0 0 0"/>
    <mass value="0.6929229312968146"/>
    <inertia ixx="0.007089" iyy="0.007184" izz="0.014271" ixy="1.4e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.003853 -0.334175 0.030411" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/plate_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.003853 -0.334175 0.030411" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/plate_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_40mm_3_1">
  <inertial>
    <origin xyz="-2.9487715822590355e-07 4.3582956577026266e-08 0.02000034945494526" rpy="0 0 0"/>
    <mass value="0.004737292226075159"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.005027 -0.331922 -0.001544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.005027 -0.331922 -0.001544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_40mm_2_1">
  <inertial>
    <origin xyz="-0.005074448421418215 0.004050242101968183 0.046955349454945325" rpy="0 0 0"/>
    <mass value="0.0046422546678769275"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.010053 -0.008844 0.025411" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.010053 -0.008844 0.025411" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_40mm_4_1">
  <inertial>
    <origin xyz="-2.9487715674791914e-07 4.3560604181050455e-08 0.020000349454945443" rpy="0 0 0"/>
    <mass value="0.004737292226075157"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.325027 -0.011922 -0.001544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.325027 -0.011922 -0.001544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_40mm_1_1">
  <inertial>
    <origin xyz="-3.3726064185835014e-07 8.592385422057092e-07 0.02000034945494456" rpy="0 0 0"/>
    <mass value="0.004734938941716534"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.325027 -0.331922 -0.001544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.325027 -0.331922 -0.001544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_40mm_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="plate_c_1">
  <inertial>
    <origin xyz="-0.1712898814149433 -0.1603368159381274 0.029455349454945205" rpy="0 0 0"/>
    <mass value="0.6844049179859125"/>
    <inertia ixx="0.007189" iyy="0.006622" izz="0.013808" ixy="0.000295" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.329408 -0.329704 -0.014589" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/plate_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.329408 -0.329704 -0.014589" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/plate_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_60mm_2_1">
  <inertial>
    <origin xyz="4.7858753071260314e-05 2.784498811974484e-05 0.030000349454945258" rpy="0 0 0"/>
    <mass value="0.006963381653081437"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.005027 -0.011922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.005027 -0.011922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_60mm_1_1">
  <inertial>
    <origin xyz="-2.9487376022353795e-07 4.358394695147538e-08 0.030000349454945355" rpy="0 0 0"/>
    <mass value="0.007105938298349734"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.005027 -0.331922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.005027 -0.331922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_60mm_3_1">
  <inertial>
    <origin xyz="-2.947655208251909e-07 4.3761978374412536e-08 0.030000349454944508" rpy="0 0 0"/>
    <mass value="0.007105938742419905"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.245027 -0.331922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.245027 -0.331922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="m3_60mm_4_1">
  <inertial>
    <origin xyz="-2.948838258021169e-07 4.355601198983983e-08 0.03000034945494487" rpy="0 0 0"/>
    <mass value="0.007105938257057643"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="0.0" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.245027 -0.011922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.245027 -0.011922 -0.046544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/m3_60mm_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="plate_d_1">
  <inertial>
    <origin xyz="0.11950609101615857 -0.1599896429576221 0.00250034945494515" rpy="0 0 0"/>
    <mass value="0.5520670064809862"/>
    <inertia ixx="0.005678" iyy="0.003368" izz="0.009043" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.005027 -0.331922 -0.106544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/plate_d_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.005027 -0.331922 -0.106544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/plate_d_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="dept_cam_pad_1_1">
  <inertial>
    <origin xyz="-3.0121677712866e-07 -0.04318234512911118 0.017500211095285406" rpy="0 0 0"/>
    <mass value="0.028375637610263075"/>
    <inertia ixx="3.3e-05" iyy="3e-06" izz="3.1e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.020027 -0.216922 -0.111544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/dept_cam_pad_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.020027 -0.216922 -0.111544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/dept_cam_pad_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="dept_cam_pad__2_1">
  <inertial>
    <origin xyz="-3.0121677713212947e-07 -0.04318234512911118 0.017500211095285434" rpy="0 0 0"/>
    <mass value="0.02837563761026307"/>
    <inertia ixx="3.3e-05" iyy="3e-06" izz="3.1e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.110027 -0.216922 -0.111544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/dept_cam_pad__2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.110027 -0.216922 -0.111544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/dept_cam_pad__2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_pad_1">
  <inertial>
    <origin xyz="-0.15002629487725416 -0.2222799564362909 0.05399234945494519" rpy="0 0 0"/>
    <mass value="0.06777225232995158"/>
    <inertia ixx="6.9e-05" iyy="6.9e-05" izz="0.000138" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.215053 -0.396202 -0.095052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/lidar_pad_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.215053 -0.396202 -0.095052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/lidar_pad_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="clamp_left_1">
  <inertial>
    <origin xyz="-9.974772668508436e-06 0.018161007656344142 -0.012977252925935809" rpy="0 0 0"/>
    <mass value="0.09412923578540548"/>
    <inertia ixx="7.1e-05" iyy="5.9e-05" izz="7e-05" ixy="0.0" iyz="-1.9e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.165346 0.002348 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/clamp_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.165346 0.002348 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/clamp_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="clamp_right_1">
  <inertial>
    <origin xyz="9.600105821461202e-06 -0.01816069675677745 -0.012977252925935344" rpy="0 0 0"/>
    <mass value="0.0941292357854055"/>
    <inertia ixx="7.1e-05" iyy="5.9e-05" izz="7e-05" ixy="0.0" iyz="1.9e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.165346 -0.347652 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/clamp_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.165346 -0.347652 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/clamp_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_clamp_1_1">
  <inertial>
    <origin xyz="0.02965381266658202 0.002348155449786723 0.024455349454945163" rpy="0 0 0"/>
    <mass value="0.07648123477927708"/>
    <inertia ixx="2e-05" iyy="4.3e-05" izz="6.3e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.010192 -0.031019 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.010192 -0.031019 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_clamp_2_1">
  <inertial>
    <origin xyz="0.029653812666573576 0.00234815544978512 0.02445534945494518" rpy="0 0 0"/>
    <mass value="0.07648123477927704"/>
    <inertia ixx="2e-05" iyy="4.3e-05" izz="6.3e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.260192 -0.031019 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.260192 -0.031019 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_clamp_4_1">
  <inertial>
    <origin xyz="0.029653812666579855 0.0023481554497813417 0.024455349454945232" rpy="0 0 0"/>
    <mass value="0.07648123477927705"/>
    <inertia ixx="2e-05" iyy="4.3e-05" izz="6.3e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.010192 -0.309589 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.010192 -0.309589 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_clamp_3_1">
  <inertial>
    <origin xyz="0.029653812666573576 0.0023481550289407016 0.02445534945494521" rpy="0 0 0"/>
    <mass value="0.07648123477927704"/>
    <inertia ixx="2e-05" iyy="4.3e-05" izz="6.3e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.260192 -0.309589 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.260192 -0.309589 0.053911" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_clamp_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_link_1">
  <inertial>
    <origin xyz="-2.9487725179688784e-07 4.356371052782748e-08 0.021499765723086456" rpy="0 0 0"/>
    <mass value="0.25467781753668317"/>
    <inertia ixx="0.000125" iyy="0.000125" izz="0.000171" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.065027 -0.173922 -0.151544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/lidar_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.065027 -0.173922 -0.151544" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/lidar_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="dept_cam_1">
  <inertial>
    <origin xyz="-0.009805166934184689 -2.332748319269773e-05 -2.036989229339814e-05" rpy="0 0 0"/>
    <mass value="0.10101171355047542"/>
    <inertia ixx="0.000131" iyy="1.1e-05" izz="0.000127" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.015027 -0.173922 -0.129044" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/dept_cam_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.015027 -0.173922 -0.129044" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/dept_cam_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_tyre_1">
  <inertial>
    <origin xyz="-1.873333296265045e-07 -0.033866630666813245 3.494549452170981e-07" rpy="0 0 0"/>
    <mass value="0.22631987550717408"/>
    <inertia ixx="0.000156" iyy="0.000267" izz="0.000156" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.165346 0.000348 0.058956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/left_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.165346 0.000348 0.058956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/left_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_tyre_1">
  <inertial>
    <origin xyz="3.632948996079577e-07 0.03386694156637954 2.8553706360456843e-07" rpy="0 0 0"/>
    <mass value="0.22631987550717408"/>
    <inertia ixx="0.000156" iyy="0.000267" izz="0.000156" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.165345 -0.345652 0.058956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/right_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.165345 -0.345652 0.058956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/right_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_2_1">
  <inertial>
    <origin xyz="-1.873334180696462e-07 1.554497866679272e-07 -0.0378138098370903" rpy="0 0 0"/>
    <mass value="0.7573332690253795"/>
    <inertia ixx="0.000439" iyy="0.000439" izz="0.000146" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.039846 -0.033367 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.039846 -0.033367 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_1_1">
  <inertial>
    <origin xyz="-1.8733341991539199e-07 1.554497814360012e-07 -0.03781380983709005" rpy="0 0 0"/>
    <mass value="0.7573332690253795"/>
    <inertia ixx="0.000439" iyy="0.000439" izz="0.000146" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.039846 -0.311937 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.039846 -0.311937 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_3_1">
  <inertial>
    <origin xyz="-1.873334264934634e-07 1.5544978515524832e-07 -0.03781380983709016" rpy="0 0 0"/>
    <mass value="0.7573332690253797"/>
    <inertia ixx="0.000439" iyy="0.000439" izz="0.000146" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.289846 -0.033367 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.289846 -0.033367 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_4_1">
  <inertial>
    <origin xyz="-1.8733342654897456e-07 1.5502894074037599e-07 -0.037813809837090186" rpy="0 0 0"/>
    <mass value="0.7573332690253797"/>
    <inertia ixx="0.000439" iyy="0.000439" izz="0.000146" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.289846 -0.311937 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.289846 -0.311937 0.026956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://testbed_2WD_description/meshes/caster_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="0.005346 0.332652 -0.024456" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="m5_20mm_2_1"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="0.005346 0.012652 -0.024456" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="m5_20mm_4_1"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="0.325346 0.012652 -0.024456" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="m5_20mm_3_1"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="0.325346 0.332652 -0.024456" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="m5_20mm_1_1"/>
</joint>

<joint name="Rigid 5" type="fixed">
  <origin xyz="-0.009199 0.001523 -0.005955" rpy="0 0 0"/>
  <parent link="m5_20mm_2_1"/>
  <child link="plate_b_1"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.00888 -0.002253 0.031955" rpy="0 0 0"/>
  <parent link="plate_b_1"/>
  <child link="m3_40mm_3_1"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="0.013906 -0.325331 0.005" rpy="0 0 0"/>
  <parent link="plate_b_1"/>
  <child link="m3_40mm_2_1"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.32888 -0.322253 0.031955" rpy="0 0 0"/>
  <parent link="plate_b_1"/>
  <child link="m3_40mm_4_1"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="0.32888 -0.002253 0.031955" rpy="0 0 0"/>
  <parent link="plate_b_1"/>
  <child link="m3_40mm_1_1"/>
</joint>

<joint name="Rigid 10" type="fixed">
  <origin xyz="0.004381 -0.002218 0.013045" rpy="0 0 0"/>
  <parent link="m3_40mm_1_1"/>
  <child link="plate_c_1"/>
</joint>

<joint name="Rigid 11" type="fixed">
  <origin xyz="-0.324381 -0.317782 0.031955" rpy="0 0 0"/>
  <parent link="plate_c_1"/>
  <child link="m3_60mm_2_1"/>
</joint>

<joint name="Rigid 12" type="fixed">
  <origin xyz="-0.324381 0.002218 0.031955" rpy="0 0 0"/>
  <parent link="plate_c_1"/>
  <child link="m3_60mm_1_1"/>
</joint>

<joint name="Rigid 13" type="fixed">
  <origin xyz="-0.084381 0.002218 0.031955" rpy="0 0 0"/>
  <parent link="plate_c_1"/>
  <child link="m3_60mm_3_1"/>
</joint>

<joint name="Rigid 14" type="fixed">
  <origin xyz="-0.084381 -0.317782 0.031955" rpy="0 0 0"/>
  <parent link="plate_c_1"/>
  <child link="m3_60mm_4_1"/>
</joint>

<joint name="Rigid 15" type="fixed">
  <origin xyz="0.0 0.0 0.06" rpy="0 0 0"/>
  <parent link="m3_60mm_1_1"/>
  <child link="plate_d_1"/>
</joint>

<joint name="Rigid 16" type="fixed">
  <origin xyz="0.015 -0.115 0.005" rpy="0 0 0"/>
  <parent link="plate_d_1"/>
  <child link="dept_cam_pad_1_1"/>
</joint>

<joint name="Rigid 17" type="fixed">
  <origin xyz="0.105 -0.115 0.005" rpy="0 0 0"/>
  <parent link="plate_d_1"/>
  <child link="dept_cam_pad__2_1"/>
</joint>

<joint name="Rigid 18" type="fixed">
  <origin xyz="0.105026 0.17928 -0.016492" rpy="0 0 0"/>
  <parent link="dept_cam_pad__2_1"/>
  <child link="lidar_pad_1"/>
</joint>

<joint name="Rigid 19" type="fixed">
  <origin xyz="0.165346 -0.002348 -0.026956" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="clamp_left_1"/>
</joint>

<joint name="Rigid 20" type="fixed">
  <origin xyz="0.165346 0.347652 -0.026956" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="clamp_right_1"/>
</joint>

<joint name="Rigid 21" type="fixed">
  <origin xyz="0.010192 0.031019 -0.053911" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="caster_clamp_1_1"/>
</joint>

<joint name="Rigid 22" type="fixed">
  <origin xyz="0.260192 0.031019 -0.053911" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="caster_clamp_2_1"/>
</joint>

<joint name="Rigid 23" type="fixed">
  <origin xyz="0.010192 0.309589 -0.053911" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="caster_clamp_4_1"/>
</joint>

<joint name="Rigid 24" type="fixed">
  <origin xyz="0.260192 0.309589 -0.053911" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="caster_clamp_3_1"/>
</joint>

<joint name="Rigid 25" type="fixed">
  <origin xyz="-0.150026 -0.22228 0.056492" rpy="0 0 0"/>
  <parent link="lidar_pad_1"/>
  <child link="lidar_link_1"/>
</joint>

<joint name="Rigid 26" type="fixed">
  <origin xyz="-0.005 -0.043 0.0175" rpy="0 0 0"/>
  <parent link="dept_cam_pad_1_1"/>
  <child link="dept_cam_1"/>
</joint>

<joint name="Revolute 27" type="continuous">
  <origin xyz="0.0 0.002 -0.032" rpy="0 0 0"/>
  <parent link="clamp_left_1"/>
  <child link="left_tyre_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="Revolute 28" type="continuous">
  <origin xyz="-1e-06 -0.002 -0.032" rpy="0 0 0"/>
  <parent link="clamp_right_1"/>
  <child link="right_tyre_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
</joint>

<joint name="Rigid 29" type="fixed">
  <origin xyz="0.029654 0.002348 0.026955" rpy="0 0 0"/>
  <parent link="caster_clamp_1_1"/>
  <child link="caster_2_1"/>
</joint>

<joint name="Rigid 30" type="fixed">
  <origin xyz="0.029654 0.002348 0.026955" rpy="0 0 0"/>
  <parent link="caster_clamp_4_1"/>
  <child link="caster_1_1"/>
</joint>

<joint name="Rigid 31" type="fixed">
  <origin xyz="0.029654 0.002348 0.026955" rpy="0 0 0"/>
  <parent link="caster_clamp_2_1"/>
  <child link="caster_3_1"/>
</joint>

<joint name="Rigid 32" type="fixed">
  <origin xyz="0.029654 0.002348 0.026955" rpy="0 0 0"/>
  <parent link="caster_clamp_3_1"/>
  <child link="caster_4_1"/>
</joint>

</robot>
